<header class="top-line-bg">
  <div class="container">
    <nav class="top-nav" aria-label="main menu">
      <a href="./index.html" class="logo-link logo">
        WEB<span class="logo-studio">Studio</span>
      </a>
      <ul class="menu-nav">
        <li>
          <a href="./index.html" class="site-menu-nav current">Studio</a>
        </li>
        <li><a href="#portfolio" class="site-menu-nav">Portfolio</a></li>
        <li><a href="#team" class="site-menu-nav">Contacts</a></li>
      </ul>
    </nav>

    <address class="address">
      <ul class="contacts">
        <li>
          <a href="mailto:info@devstudio.com" class="contact-link"
            >info@devstudio.com</a
          >
        </li>
        <li>
          <a href="tel:+11(000)111-11-11" class="contact-link"
            >+11(000)111-11-11</a
          >
        </li>
      </ul>
    </address>

    <button type="button" class="menu-toggle" aria-label="Open menu">
      <svg class="menu-icon" width="32" height="22">
        <use href="./img/icons.svg#icon-icons-menu"></use>
      </svg>
    </button>
  </div>
</header>
