<section id="portfolio" class="section-portfolio">
  <div class="container">
    <h2 class="portfolio-title">Our Portfolio</h2>
    <ul class="portfolio-list">
      <li class="portfolio-item">
        <div class="portfolio-item-overlay">
          <picture>
            <source
              srcset="./img/1-desktop-1x.webp 1x, ./img/1-desktop-2x.webp 2x"
              media="(min-width: 1158px)"
              type="image/webp"
            />
            <source
              srcset="./img/1-tablet-1x.webp 1x, ./img/1-tablet-2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./img/1-mobile-1x.webp 1x, ./img/1-mobile-2x.webp 2x"
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="portfolio-img"
              src="./img/1-desktop-1x.webp"
              alt="Banking App"
              width="360"
              loading="lazy"
            />
          </picture>
          <p class="text-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content">
          <h3 class="card-title">Banking App</h3>
          <p class="card-text">App</p>
        </div>
      </li>

      <li class="portfolio-item">
        <div class="portfolio-item-overlay">
          <picture>
            <source
              srcset="
                ./img/cashless-kartinka-desktop-1x.webp 1x,
                ./img/cashless-kartinka-desktop-2x.webp 2x
              "
              media="(min-width: 1158px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/cashless-kartinka-tablet-1x.webp 1x,
                ./img/cashless-kartinka-tablet-2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/cashless-kartinka-mobile-1x.webp 1x,
                ./img/cashless-kartinka-mobile-2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="portfolio-img"
              src="./img/cashless-kartinka-desktop-1x.webp"
              alt="Cashless Payment"
              width="360"
              loading="lazy"
            />
          </picture>
          <p class="text-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content">
          <h3 class="card-title">Cashless Payment</h3>
          <p class="card-text">Marketing</p>
        </div>
      </li>

      <li class="portfolio-item">
        <div class="portfolio-item-overlay">
          <picture>
            <source
              srcset="./img/3-desktop-1x.webp 1x, ./img/3-desktop-2x.webp 2x"
              media="(min-width: 1158px)"
              type="image/webp"
            />
            <source
              srcset="./img/3-tablet-1x.webp 1x, ./img/3-tablet-2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./img/3-mobile-1x.webp 1x, ./img/3-mobile-2x.webp 2x"
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="portfolio-img"
              src="./img/3-desktop-1x.webp"
              alt="Meditation App"
              width="360"
              loading="lazy"
            />
          </picture>
          <p class="text-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content">
          <h3 class="card-title">Meditation App</h3>
          <p class="card-text">App</p>
        </div>
      </li>

      <li class="portfolio-item">
        <div class="portfolio-item-overlay">
          <picture>
            <source
              srcset="./img/4-desktop-1x.webp 1x, ./img/4-desktop-2x.webp 2x"
              media="(min-width: 1158px)"
              type="image/webp"
            />
            <source
              srcset="./img/4-tablet-1x.webp 1x, ./img/4-tablet-2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./img/4-mobile-1x.webp 1x, ./img/4-mobile-2x.webp 2x"
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="portfolio-img"
              src="./img/4-desktop-1x.webp"
              alt="Taxi Service"
              width="360"
              loading="lazy"
            />
          </picture>
          <p class="text-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content">
          <h3 class="card-title">Taxi Service</h3>
          <p class="card-text">Marketing</p>
        </div>
      </li>

      <li class="portfolio-item">
        <div class="portfolio-item-overlay">
          <picture>
            <source
              srcset="./img/5-desktop-1x.webp 1x, ./img/5-desktop-2x.webp 2x"
              media="(min-width: 1158px)"
              type="image/webp"
            />
            <source
              srcset="./img/5-tablet-1x.webp 1x, ./img/5-tablet-2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./img/5-mobile-1x.webp 1x, ./img/5-mobile-2x.webp 2x"
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="portfolio-img"
              src="./img/5-desktop-1x.webp"
              alt="Screen Illustrations"
              width="360"
              loading="lazy"
            />
          </picture>
          <p class="text-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content">
          <h3 class="card-title">Screen Illustrations</h3>
          <p class="card-text">Design</p>
        </div>
      </li>

      <li class="portfolio-item">
        <div class="portfolio-item-overlay">
          <picture>
            <source
              srcset="./img/6-desktop-1x.webp 1x, ./img/6-desktop-2x.webp 2x"
              media="(min-width: 1158px)"
              type="image/webp"
            />
            <source
              srcset="./img/6-tablet-1x.webp 1x, ./img/6-tablet-2x.webp 2x"
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="./img/6-mobile-1x.webp 1x, ./img/6-mobile-2x.webp 2x"
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="portfolio-img"
              src="./img/6-desktop-1x.webp"
              alt="Online Courses"
              width="360"
              loading="lazy"
            />
          </picture>
          <p class="text-overlay">
            14 Stylish and User-Friendly App Design Concepts · Task Manager App
            · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage
            App
          </p>
        </div>
        <div class="card-content">
          <h3 class="card-title">Online Courses</h3>
          <p class="card-text">Marketing</p>
        </div>
      </li>
    </ul>
  </div>
</section>
