.features {
  background: #fff;
  padding: 96px 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.features-content {
  display: flex;
}
.section-title {
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature-title {
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.feature-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 288px;
}
.feature-icon-box,
.feature-icon {
  display: none;
}

@media (min-width: 320px) {
  .features-content {
    gap: 72px;
    flex-direction: column;
    align-items: center;
  }
  .feature-title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
  }
  .feature-text {
    font-weight: 500;
    margin-top: 8px;
  }
}

@media (min-width: 768px) {
  .features-content {
    gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .feature-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    margin-bottom: 8px;
    letter-spacing: 0.02em;
    text-align: start;
  }
  .feature-text {
    font-weight: 500;
    max-width: 356px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

@media (min-width: 1158px) {
  .features {
    padding: 120px 0;
  }
  .features-content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
  }
  .feature-icon-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 100%;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }
  .feature-icon {
    width: 64px;
    height: 64px;
    display: flex;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .feature-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}
