.footer-section-dark-bg {
  background: #2e2f42;
  padding: 96px 0;
  margin: 0 auto;
}
.logo-link-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
.footer-section-dark-bg .container {
  display: flex;
}
.footer-content {
  max-width: 264px;
}
.footer-social {
  display: flex;
  flex-direction: column;
}
.footer-social-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  /*fill: currentColor;*/
  fill: #f4f4fd;
  /*color: #f4f4fd;*/
  width: 24px;
  height: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
}
.footer-input::placeholder {
  color: #ffffff;
}
.footer-subscribe-btn {
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-svg {
  margin-left: 16px;
}
.footer-btn-use {
  fill: white;
}
/*Для мобильной версии*/
@media (min-width: 320px) {
  .footer-section-dark-bg {
    margin: 0 auto;
  }
  .footer-section-dark-bg .container {
    align-items: center;
    gap: 72px;
    flex-direction: column;
  }
  .footer-input {
    width: 288px;
  }
  .footer-content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .footer-form {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
  .footer-social-text {
    text-align: center;
  }
  .footer-subscribe {
    display: flex;
    flex-direction: column;
  }
  .footer-subscribe-text {
    text-align: center;
  }
  .footer-subscribe-btn {
    width: 165px;
    margin: 0 auto;
  }
}
/*Для планшетной версии*/
@media (min-width: 768px) {
  .footer-section-dark-bg .container {
    padding: 0 16px;
    margin: 0 auto;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    flex-direction: row;
    max-width: 584px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-subscribe {
    display: flex;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    width: 288px;
  }
  .footer-subscribe-btn {
    margin-top: 0;
  }
  .footer-social-text {
    text-align: start;
  }
  .footer-subscribe-text {
    text-align: start;
  }
}
/*Для десктопной версии*/
@media (min-width: 1158px) {
  .footer-section-dark-bg {
    padding: 100px 0;
    width: 100%;
  }
  .footer-section-dark-bg .container {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1158px;
    margin: 0 auto;
    gap: unset;
    justify-content: space-between;
  }
  .footer-content {
    margin: 0;
  }
  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: #31d0aa;
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    width: 288px;
  }
  .footer-subscribe {
    margin-left: 0;
    flex-direction: column;
  }
  .footer-subscribe-btn:hover,
  .footer-subscribe-btn:focus,
  .footer-subscribe-btn:active {
    transform: scale(1.1);
    background-color: #404bbf;
    border: none;
  }
}
