.footer-section-dark-bg {
  background: var(--bg-section-dark);
  padding: 96px 0;
  margin: 0 auto;
}
.logo-link-footer {
  font-family: var(--font-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-18);
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-midle);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--text-link-accent);
  display: inline-block;
  margin-bottom: 16px;
}
.logo-studio-footer {
  color: var(--text-on-accent);
}
.footer-text {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-tight);
  color: var(--text-on-accent);
  max-width: 264px;
}
.footer-section-dark-bg .container {
  display: flex;
}
.footer-content {
  max-width: 264px;
}
.footer-social {
  display: flex;
  flex-direction: column;
}
.footer-social-text {
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-tight);
  color: var(--text-inverse);
  margin-bottom: 16px;
}
.footer-social-list {
  display: flex;
  gap: 16px;
}
.footer-social-item {
  width: 40px;
  height: 40px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--text-link-accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-icon {
  fill: var(--icon-on-accent);
  width: 24px;
  height: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer-subscribe-text {
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-tight);
  color: var(--text-inverse);
}
.footer-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.footer-input {
  border: 1px solid var(--border-white);
  border-radius: 4px;
  width: 288px;
  height: 40px;
  background-color: transparent;
  box-shadow: 0 4px 4px 0 var(--shadow-input);
  font-weight: var(--fw-regular);
  font-size: var(--fs-12);
  line-height: var(--lh-max);
  letter-spacing: var(--ls-wide);
  color: var(--text-inverse);
  padding-left: 16px;
}
.footer-input::placeholder {
  color: var(--text-inverse);
}
.footer-subscribe-btn {
  font-family: var(--font-primary);
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: var(--bg-accent);
  border: none;
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-wide);
  text-align: center;
  color: var(--text-inverse);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-btn-svg {
  margin-left: 16px;
}
.footer-btn-use {
  fill: var(--icon-on-secondary-accent);
}

@media (min-width: 320px) {
  .footer-section-dark-bg {
    margin: 0 auto;
  }
  .footer-section-dark-bg .container {
    align-items: center;
    gap: 72px;
    flex-direction: column;
  }
  .footer-input {
    width: 288px;
  }
  .footer-content {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .footer-form {
    flex-direction: column;
    align-items: stretch;
    gap: 16px;
  }
  .footer-social-text {
    text-align: center;
  }
  .footer-subscribe {
    display: flex;
    flex-direction: column;
  }
  .footer-subscribe-text {
    text-align: center;
  }
  .footer-subscribe-btn {
    width: 165px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .footer-section-dark-bg .container {
    padding: 0 16px;
    margin: 0 auto;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    flex-direction: row;
    max-width: 584px;
  }
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-subscribe {
    display: flex;
  }
  .footer-form {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    width: 288px;
  }
  .footer-subscribe-btn {
    margin-top: 0;
  }
  .footer-social-text {
    text-align: start;
  }
  .footer-subscribe-text {
    text-align: start;
  }
}

@media (min-width: 1158px) {
  .footer-section-dark-bg {
    padding: 100px 0;
    width: 100%;
  }
  .footer-section-dark-bg .container {
    align-items: baseline;
    flex-direction: row;
    flex-wrap: nowrap;
    max-width: 1158px;
    margin: 0 auto;
    gap: unset;
    justify-content: space-between;
  }
  .footer-content {
    margin: 0;
  }
  .footer-social-link:hover,
  .footer-social-link:focus {
    background-color: var(--icon-on-accent-hover);
  }
  .footer-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-input {
    width: 288px;
  }
  .footer-subscribe {
    margin-left: 0;
    flex-direction: column;
  }
  .footer-subscribe-btn:hover,
  .footer-subscribe-btn:focus,
  .footer-subscribe-btn:active {
    transform: scale(1.1);
    background-color: var(--bg-accent-hover);
    border: none;
  }
}
