.top-line-bg {
  position: relative;
  z-index: 100;
  background: var(--bg-page);
  border-bottom: 1px solid var(--border-light);
  box-shadow: var(--shadow-header);
}
.top-line-bg .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-link.logo {
  font-family: var(--font-secondary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-18);
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-midle);
  text-transform: uppercase;
  color: var(--text-link-accent);
  display: flex;
  align-items: center;
  margin-right: 76px;
}
.logo-studio {
  color: var(--text-primary);
}
.site-menu-nav {
  position: relative;
  display: inline-block;
  padding: 24px 0;
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-tight);
  color: var(--text-primary);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-menu-nav.current {
  color: var(--text-link-hover);
}
.contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.contact-link {
  color: var(--text-secondary);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* ================= МОБИЛЬНАЯ ВЕРСИЯ (по умолчанию) ================= */

.logo-link.logo {
  padding: 16px 0;
  width: 115px;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
.menu-icon {
  width: 24px;
  height: 24px;
  fill: var(--icon-secondary);
}

.menu-nav,
.address {
  display: none;
}
/* ================= ПЛАНШЕТНАЯ ВЕРСИЯ ================= */
@media (min-width: 768px) {
  .top-nav,
  .menu.nav,
  .address {
    display: flex;
    align-items: center;
  }

  .logo-link.logo {
    padding: 24px 0;
  }

  .menu-toggle,
  .mobile-menu {
    display: none;
  }

  .menu-nav {
    display: flex;
    gap: 40px;
  }

  .site-menu-nav.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--text-link-hover);
  }
}
/* ================= ДЕСКТОПНАЯ ВЕРСИЯ ================= */
@media (min-width: 1158px) {
  .logo-link.logo {
    padding: 24px 0;
  }
  .top-nav,
  .address {
    display: flex;
    align-items: center;
  }

  .menu-nav {
    display: flex;
    gap: 40px;
  }
  .menu-toggle,
  .mobile-menu {
    display: none;
  }
  .site-menu-nav:hover,
  .site-menu-nav:focus {
    color: var(--text-link-hover);
  }

  .site-menu-nav.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--text-link-hover);
  }
  .contacts {
    flex-direction: row;
    gap: 40px;
  }
  .contact-link {
    padding: 24px 0;
  }
  .contact-link:hover,
  .contact-link:focus {
    color: var(--text-link-hover);
  }
  .contact-link {
    font-weight: var(--fw-regular);
    font-size: var(--fs-16);
    line-height: var(--lh-normal);
  }
}
