.dark-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--bg-section-dark);
  min-height: 436px;
}
.dark-bg .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  font-weight: var(--fw-bold);
  letter-spacing: var(-ls-tight);
  color: var(--text-inverse);
  line-height: var(--lh-ultra-tight);
}
.hero-btn {
  border-radius: 4px;
  background: var(--bg-accent);
  border: none;
  cursor: pointer;
  font-weight: var(--fw-medium);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-wide);
  color: var(--text-inverse);
  padding: 16px 32px;
  font-size: var(--fs-16);
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 320px) {
  .dark-bg {
    max-width: 100%;
    padding: 72px 16px;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero/hero-bg-mobile-1x.webp');
  }
  .hero-title {
    font-size: var(--fs-36);
    line-height: var(--lh-ultra-tight);
    max-width: 216px;
    margin-bottom: 72px;
  }
}
@media (min-width: 320px) and (min-resolution: 2dppx) {
  .dark-bg {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero/hero-bg-mobile-2x.webp');
  }
}

@media (min-width: 768px) {
  .dark-bg {
    min-width: 768px;
    margin: 0 auto;
    padding: 112px 0;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero/hero-bg-tablet-1x.webp');
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: var(--fs-56);
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .dark-bg {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero/hero-bg-tablet-2x.webp');
  }
}

@media (min-width: 1158px) {
  .dark-bg {
    margin: 0 auto;
    background: #2e2f42;
    padding: 188px 0;
    width: 100%;
    background-size: cover;
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero/hero-bg-desktop-1x.webp');
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: var(--fs-56);
  }
  .hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 var(--shadow-btn);
    background-color: var(--bg-accent);
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: var(--bg-accent-hover);
  }
}
@media (min-width: 1158px) and (min-resolution: 2dppx) {
  .dark-bg {
    background-image:
      linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../img/hero/hero-bg-desktop-2x.webp');
  }
}
