.dark-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #2e2f42;
  min-height: 436px;
}
.dark-bg .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-title {
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #fff;
  line-height: 1.07;
}
.hero-btn {
  border-radius: 4px;
  background: #4d5ae5;
  border: none;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  padding: 16px 32px;
  font-size: 16px;
  text-align: center;
  white-space: nowrap;
}

@media (min-width: 320px) {
  .dark-bg {
    max-width: 100%;
    padding: 72px 16px;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/people-office-mobile-1x.webp');
  }
  .hero-title {
    font-size: 36px;
    line-height: 1.11111;
    max-width: 216px;
    margin-bottom: 72px;
  }
}
@media (min-width: 320px) and (min-resolution: 2dppx) {
  .dark-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/people-office-mobile-2x.webp');
  }
}

@media (min-width: 768px) {
  .dark-bg {
    min-width: 768px;
    margin: 0 auto;
    padding: 112px 0;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/people-office-tablet-1x.webp');
  }

  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;
    font-size: 56px;
  }
}
@media (min-width: 768px) and (min-resolution: 2dppx) {
  .dark-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/people-office-tablet-2x.webp');
  }
}

@media (min-width: 1158px) {
  .dark-bg {
    margin: 0 auto;
    background: #2e2f42;
    padding: 188px 0;
    width: 100%;
    background-size: cover;
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/people-office-desktop-1x.webp');
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
  }
  .hero-btn {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
  }
  .hero-btn:hover,
  .hero-btn:focus {
    background-color: #404bbf;
  }
}
@media (min-width: 1158px) and (min-resolution: 2dppx) {
  .dark-bg {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../img/people-office-desktop-2x.webp');
  }
}
