.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 24px 24px 40px 16px;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
  z-index: 999;
}
.mobile-menu.is-open {
  transform: translateX(0);
}
.menu-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-top: 72px;
  justify-content: space-between;
  height: 100%;
}
.address-social {
  display: flex;
  flex-direction: column;
}
.mobile-nav {
  display: flex;
  gap: 40px;
  list-style: none;
}
.mobile-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 0;
}
.mobile-nav a {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: left;
}
.mobile-contacts {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.contact-link.current {
  color: #4d5ae5;
}
.mobile-socials {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  margin-top: 48px;
}
.mobile-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-social-icon {
  fill: currentColor;
  color: #f4f4fd;
  height: 16px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
