.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-backdrop);
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 288px;
  min-height: auto;
  background-color: var(--bg-modal);
  border-radius: 4px;
  padding: 72px 16px 8px 16px;
  box-shadow: var(--shadow-modal);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  flex-direction: column;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid var(--border-light-alpha);
  background-color: var(--bg-icon);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon {
  fill: var(--icon-primary);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--bg-icon-accent-hover);
  border-color: transparent;
}
.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--icon-on-secondary-accent);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  font-weight: var(--fw-medium);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  text-align: center;
  margin-bottom: 16px;
  color: var(--text-primary);
  letter-spacing: var(--ls-tight);
}
.form-container {
  margin-bottom: 8px;
}
.form-comment-container {
  margin-bottom: 16px;
}
.form-label {
  font-weight: var(--fw-regular);
  font-size: var(--fs-12);
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-wide);
  color: var(--text-muted);
  margin-bottom: 4px;
  display: flex;
  align-items: flex-start;
}
.form-icon-box {
  position: relative;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid var(--border-alpha);
  border-radius: 4px;
  padding-left: 38px;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-input:hover,
.form-input:focus {
  border-color: var(--border-accent);
}
.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--border-accent);
}
.form-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text {
  width: 100%;
  height: 120px;
  border: 1px solid var(--border-alpha);
  border-radius: 4px;
  padding: 8px 16px;
  resize: none;
  outline: transparent;
  font-size: var(--fs-12);
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-wide);
  color: var(--text-modal);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-text:hover,
.modal-text:focus {
  border-color: var(--border-accent);
}
.modal-checkbox-container {
  margin-top: 16px;
  margin-bottom: 24px;
}
.modal-visual {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.span-modal {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  border: 1px solid var(--border-alpha);
  border-radius: 2px;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  fill: transparent;
}
.checkbox-text {
  margin: 0;
  font-weight: var(--fw-regular);
  font-size: var(--fs-12);
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-wide);
  color: var(--text-muted);
}
.checkbox-svg {
  opacity: 0;
  transition: opacity 250ms ease;
}
.modal-visual:checked + .form-label .span-modal {
  background-color: var(--bg-accent-hover);
  border: none;
  fill: var(--icon-on-accent);
}
.modal-visual:checked + .form-label .span-modal .checkbox-svg {
  opacity: 1;
  fill: var(--icon-on-secondary-accent);
}
.check-link {
  line-height: var(--lh-midle);
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--text-link-accent);
}
.modal-btn {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  background-color: var(--bg-accent);
  border: none;
  border-radius: 4px;
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  color: var(--text-inverse);
  cursor: pointer;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--bg-accent-hover);
}
@media (min-width: 768px) {
  .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    max-width: none;
  }
}
