.section-portfolio {
  background: #fff;
  padding: 96px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.portfolio-item {
  overflow: hidden;
  background: #fff;
  position: relative;
}
.portfolio-img {
  display: block;
  width: 100%;
  height: auto;
}
.card-content {
  width: 100%;
  height: auto;
  padding: 32px 16px;
  box-sizing: border-box;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
.text-overlay {
  display: none;
}

@media (min-width: 320px) {
  .portfolio-list {
    flex-direction: column;
    align-items: center;
  }
  .portfolio-item {
    width: 288px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

@media (min-width: 768px) {
  .portfolio-list {
    align-items: center;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
    flex-direction: row;
  }
  .portfolio-item {
    width: 356px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}
/*Десктопная версия*/
@media (min-width: 1158px) {
  .section-portfolio {
    padding: 120px 0;
  }
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    flex-direction: row;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }
  .portfolio-item:hover,
  .portfolio-item:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
  .portfolio-item-overlay {
    position: relative;
    overflow: hidden;
  }
  .text-overlay {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
    background: #4d5ae5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    display: block;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .portfolio-item:hover .text-overlay {
    transform: translateY(0);
  }
}
