.light-bg {
  background: #f4f4fd;
  padding: 96px 0;
  margin: 0 auto;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
}
.team-card {
  background: #fff;
  width: 264px;
  border-radius: 0px 0px 4px 4px;
}
.team-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 0px;
  width: 100%;
  justify-content: center;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}
.team-role {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: currentColor;
  color: #f4f4fd;
  width: 16px;
  height: 16px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 320px) {
  .team-list {
    gap: 72px;
    flex-direction: column;
    align-items: center;
  }
  .team-card {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: row;
  }
}

@media (min-width: 1158px) {
  .light-bg {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }
  .team-card:hover,
  .team-card:focus {
    box-shadow: 0px 4px 6px rgba(46, 47, 66, 0.1),
      0px 4px 4px rgba(46, 47, 66, 0.12), 0px 6px 8px rgba(46, 47, 66, 0.1);
  }
  .team-social-link:hover,
  .team-social-link:focus {
    background-color: #404bbf;
    color: #ffffff;
  }
}
