.light-bg {
  background: var(--bg-section-light);
  padding: 96px 0;
  margin: 0 auto;
}
.team-title {
  font-weight: var(--fw-bold);
  font-size: var(--fs-36);
  line-height: var(--lh-ultra-tight);
  letter-spacing: var(--ls-tight);
  color: var(--text-primary);
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.team-list {
  display: flex;
}
.team-card {
  background: var(--bg-card);
  width: 264px;
  border-radius: 0px 0px 4px 4px;
}
.team-content {
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 0px;
  width: 100%;
  justify-content: center;
}
.team-name {
  font-weight: var(--fw-medium);
  font-size: var(--fs-20);
  line-height: var(--lh-tight);
  letter-spacing: var(--ls-tight);
  color: var(--text-primary);
  text-align: center;
  margin-bottom: 8px;
}
.team-role {
  font-weight: var(--fw-regular);
  font-size: var(--fs-16);
  line-height: var(--lh-normal);
  letter-spacing: var(--ls-tight);
  color: var(--text-secondary);
  text-align: center;
  margin-bottom: 8px;
}
.team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
  padding: 0;
  list-style: none;
}
.team-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--text-link-accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-icon {
  fill: currentColor;
  color: var(--bg-icon-muted);
  width: 16px;
  height: 16px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 320px) {
  .team-list {
    gap: 72px;
    flex-direction: column;
    align-items: center;
  }
  .team-card {
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .team-list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: row;
  }
}

@media (min-width: 1158px) {
  .light-bg {
    padding: 120px 0;
  }
  .team-list {
    display: flex;
    gap: 24px;
    flex-direction: row;
  }
  .team-card {
    width: calc((100% - 72px) / 4);
  }
  .team-card:hover,
  .team-card:focus {
    box-shadow: var(--shadow-card);
  }
  .team-social-link:hover,
  .team-social-link:focus {
    background-color: var(--bg-icon-accent-hover);
    color: var(--bg-icon-text-hover);
  }
}
